/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#root {
    /* Force root div to take up the full viewport */
    min-width: 100vw;
    min-height: 100vh;
}

body {
    /* Remove margin */
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

div.form-container {
    /* Center */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 50vw;
}

.title {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.form {
    margin: 20px;
}

.list {
    margin: 30px;
}

.no-tasks-container {
    flex-grow: 1;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.no-tasks {
    font-size: 2em;
    opacity: 0.5;
}

/* Reach router's wrapping div */
div[role="group"][tabindex] {
    min-height: inherit;
}

.list-item-left-padding {
    margin-left: 20px;
}

.list-item-middle-padding {
    margin-top: 8px;
}

.list-item-side-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.icon-right-padding {
    padding-right: 10px;
}

.details-top-padding {
    padding-top: 10px;
}

.drawer-padding {
    padding-right: 20px;
}

.MuiListItem-root.done,
.MuiListItem-root.done:hover {
    opacity: 0.5;
}

.MuiListItem-root.overdue {
    background-color: mistyrose;
}

.MuiListItem-root.overdue:hover {
    background-color: mistyrose;
    filter: brightness(0.9);
}

.list-item-text-done {
    text-decoration: line-through;
}

.list-item-text {
    font-size: 1.25em;
}

.MuiTextField-root.textfield {
    margin-bottom: 10px;
}

.MuiTextField-root.textfield-left-margin {
    margin-left: 5px;
    width: 50%;
}

.MuiTextField-root.textfield-right-margin {
    margin-right: 5px;
    width: 50%;
}

.MuiChip-root.tag {
    margin-right: 5px;
    margin-bottom: 5px;
}

.MuiChip-root.overdue {
    background-color: mistyrose;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.none-tag {
    opacity: 0.5;
}

.MuiAutocomplete-root.full-width {
    width: 100%;
    margin-left: 10px;
}

.cursor-pointer {
    cursor: pointer !important;
}